/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Rules */

html {
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;

	padding: 1vw;
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.flexcolumn {
	display: flex;
	flex-direction: column;
}
/* Video View */

.video {
	width: 100%;

	display: flex;
	justify-content: center;
}

.video video {
	width: 55vw;

	border-radius: 10px;
}

/* Option Sections */

.options {
	width: 100%;

	display: flex;
	justify-content: center;

	margin-top: 5px;

	flex-wrap: wrap;
}

/* Dropdowns */

.devices {
	width: 100%;

	display: flex;
	justify-content: center;
}

.devices select {
	padding: 10px;

	font-size: 14px;

	margin: 10px;

	cursor: pointer;

	border-radius: 10px;
}

/* Small Buttons */

.commands {
	width: 45vw;

	margin-top: 10px;

	display: flex;
	justify-content: space-around;
}

.commands button {
	padding: 15px;

	color: whitesmoke;

	font-size: 15px;

	cursor: pointer;

	border-radius: 10px;
	border-width: 0px;

	background-color: #000042;
}
/* Video Saving Area */
#videos {
	border: 3px #000042 solid;
	border-radius: 10px;
	height: 50vh;
	width: 40vh;
	overflow: scroll;
}


.flexcolumn button, .saved_video button {
	padding: 15px;

	color: whitesmoke;

	font-size: 15px;

	cursor: pointer;

	border-radius: 10px;
	border-width: 0px;

	background-color: #000042;
}

/* Mobile View */

@media only screen and (max-width: 960px) {
	body {
		padding: 10px;

		flex-direction: column;
	}

	.video video {
		width: 100%
	}

	#a {
		width: 100%;
	}

	#b {
		width: 100%
	}

	.devices, .commands {
		flex-wrap: wrap;
	}

	.commands {
		margin-top: 30px;
	}

	.commands button {
		width: 100%;

		margin-bottom: 20px;
	}
}